@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to left, #94A89A, #9CB380 170%);
}
h1#principal {
    color: black;
    text-align: center;
    border-radius: 10px;
}
main {
    background-color: #C8ADC0;
    width: 630px;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    margin: auto;
}
h1 {
    color: #674A95;
}
h2 {
    color: #033279;
}
.basico {
    color: #55954a;
}
.intermediario {
    color: #958f4a;
}
.avancado {
    color: #954a4a;
}